#map {
  height: 100vh;
  /* width:100%;
  margin: 0;
  padding:0; */
}

body {
  text-align: center;
  background-color: 	#008b8b;
  padding: 0;
  margin:0;
  height: 100%;
}

h1{
  text-align: center;
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #B11226;
}

.map{
      margin-block-start: 20px;
      margin-block-end: 20px;
      position: absolute;
      z-index: 100;
}

.button {
  outline: none;
  border: 10px solid #404B69;
  font-size: 10px;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.button:hover{
  width: 208px;
  height: 208px;
  box-shadow: 0 3px 4px 0 #DBEDF3;
}

.a{
  background-image: url("images/movies.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.b{
  background-image: url("images/monuments.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.c{
  background-image: url("images/activities.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.d{
  background-image: url("images/sports.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.e{
  background-image: url("images/concert.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media only screen and (max-width: 720px){
  .button{
    width: 500px;
    height: 500px;
  }
}
